@font-face  {
    font-family: 'iransans-numeral';
    font-style: normal;
    src: url('./eot/medium.eot');
    src: url('./eot/medium.eot?#iefix') format('embedded-opentype'),
    url('./woff/medium.woff') format('woff'),
    url('./ttf/medium.ttf') format('truetype'),
    
}
